<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net472" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net472" />
  <package id="Magick.NET.Core" version="11.0.0" targetFramework="net472" />
  <package id="Magick.NET-Q16-AnyCPU" version="11.0.0" targetFramework="net472" />
  <package id="PdfiumViewer" version="2.13.0.0" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PdfiumViewer.Native.x86_64.v8-xfa" version="2018.4.8.256" targetFramework="net472" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="6.0.0" targetFramework="net472" />
</packages>